/*

File Name : style.scss
Package Name : Techastra-Zeus
Language : SASS
Author : Rohan Krishna
Version : 0.1
Compiled Using : Scout
Platform : Mac OS X
Github : http://github.com/rohan-krishna/techastra-zeus.git

*/
/* 
Global Layouts
*/
/* line 18, ../../sass/style.scss */
html, body {
  font-family: 'Roboto','Helvetica Neue',sans-serif;
}

/* line 21, ../../sass/style.scss */
body {
  background: #FFF3E0;
}

/* line 24, ../../sass/style.scss */
h1, h2, h3, h4, p {
  -webkit-font-smoothing: antialiased !important;
}

/* line 27, ../../sass/style.scss */
a {
  text-decoration: none;
}
/* line 30, ../../sass/style.scss */
a:visited {
  text-decoration: none;
}
/* line 33, ../../sass/style.scss */
a:hover {
  text-decoration: none;
}
/* line 36, ../../sass/style.scss */
a:active {
  text-decoration: none;
}

/* line 41, ../../sass/style.scss */
::selection {
  background: #C5E1A5;
}

/* line 44, ../../sass/style.scss */
::-moz-selection {
  background: #C5E1A5;
}

/* line 65, ../../sass/style.scss */
.pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
}

/* line 74, ../../sass/style.scss */
.loader-img {
  position: absolute;
  left: 48%;
  top: 45%;
}

/* line 81, ../../sass/style.scss */
.margin-top-152 {
  margin-top: 1.52em;
}

/* line 85, ../../sass/style.scss */
.bg-color-primary {
  background: #ef6c00;
}

/* line 88, ../../sass/style.scss */
.bg-color-primary-ascend {
  background: #ff9800;
}

/* line 91, ../../sass/style.scss */
.bg-color-green {
  background: #4CAF50;
}

/* line 94, ../../sass/style.scss */
.bg-color-deeporange {
  background: #FF5722;
}

/* line 97, ../../sass/style.scss */
.bg-color-magenta {
  background: #1ccacd;
}

/* line 100, ../../sass/style.scss */
.bg-color-blue {
  background: #2196F3;
}

/* line 103, ../../sass/style.scss */
.bg-color-material-blue {
  background: #2196f3;
}

/* line 106, ../../sass/style.scss */
.bg-color-white {
  background: #fff;
}

/* line 110, ../../sass/style.scss */
.fg-color-white {
  color: #f2f2f2;
}

/* line 113, ../../sass/style.scss */
.fg-color-primary {
  color: #ef6c00;
}

/* line 117, ../../sass/style.scss */
.text-center {
  text-align: center;
}

/* line 120, ../../sass/style.scss */
.padding-152 {
  padding: 1.52em;
}

/* line 123, ../../sass/style.scss */
.padding-fix-152 {
  padding: 1.52em 1.52em 0 1.52em 1.52em;
}

/* line 127, ../../sass/style.scss */
a.btn-register {
  padding: 0.52em 2.52em;
  background: #2196F3;
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: background 0.2s linear;
}
/* line 137, ../../sass/style.scss */
a.btn-register:hover {
  text-decoration: none;
  background: #42A5F5;
}
/* line 141, ../../sass/style.scss */
a.btn-register:active {
  text-decoration: none;
  background: #1E88E5;
}

/* line 146, ../../sass/style.scss */
.thin-header {
  font-size: 2.6em;
  font-weight: 200;
}

/* line 150, ../../sass/style.scss */
.big-header {
  font-size: 3.86em !important;
}

/* line 153, ../../sass/style.scss */
.bigger-header {
  font-size: 6.83em !important;
}

/* line 156, ../../sass/style.scss */
.big-icon {
  font-size: 3.64em;
}

/*
Header Design & Layouts 
*/
/* line 162, ../../sass/style.scss */
.site-header {
  border-bottom: 1px solid #ef6c00;
  background: #fff;
}

/* line 166, ../../sass/style.scss */
.index-logo {
  max-width: 512px;
  width: 100%;
  margin: 1.52em 0 0 0.52em;
  display: inline-block;
  overflow: hidden;
}

/* line 173, ../../sass/style.scss */
.logo-link {
  display: block;
  overflow: hidden;
}

/* line 177, ../../sass/style.scss */
.logo-desc {
  display: inline-block;
  margin: 2.52em 0 0  10px;
}

/* line 182, ../../sass/style.scss */
.tech-logo {
  max-width: 300px;
  width: 100%;
  margin-top: 3.52em;
}

/* line 188, ../../sass/style.scss */
.navigation-wrapper {
  max-width: 100%;
  overflow: hidden;
}

/* line 193, ../../sass/style.scss */
.main-navigation {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto 0 1em;
}
/* line 199, ../../sass/style.scss */
.main-navigation li {
  float: left;
  list-style: none;
  list-decoration: none;
  display: inline-block;
}
/* line 207, ../../sass/style.scss */
.main-navigation li a {
  display: block;
  overflow: hidden;
  padding: 1.52em;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.52em;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* line 220, ../../sass/style.scss */
.main-navigation li a:hover {
  color: #f2f2f2;
}
/* line 224, ../../sass/style.scss */
.main-navigation li a:hover:after {
  width: 100%;
  -webkit-transition: width 200ms ease-in-out;
  -moz-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}
/* line 236, ../../sass/style.scss */
.main-navigation li a:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 0.52em;
  width: 0;
  height: 3px;
  background: #f2f2f2;
  -webkit-transition: width 200ms ease-in-out;
  -moz-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}

/* line 252, ../../sass/style.scss */
.margin-left-152 {
  margin-left: 1.52em;
}

/*
Landing Page
*/
/* line 259, ../../sass/style.scss */
.img-office {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: -1;
  transform: translateY(-15em);
}

/* line 266, ../../sass/style.scss */
.section-landing {
  max-height: 450px !important;
  min-height: 200px;
  height: 100% !important;
  background: rgba(239, 108, 0, 0.3) url("../../images/office.png");
  overflow: hidden;
}

/* line 273, ../../sass/style.scss */
.landing-text {
  display: block;
  text-align: center;
  color: #f2f2f2;
  letter-spacing: 0.52em;
  transform: translateY(13em);
}
/* line 280, ../../sass/style.scss */
.landing-text h1 {
  font-family: inherit;
  font-size: 2.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #333;
}
/* line 287, ../../sass/style.scss */
.landing-text h1 span {
  display: inline-block;
  overflow: hidden;
  margin: 0 0.1em;
  padding: 0em 0.5em;
  background: rgba(0, 0, 0, 0.7);
}
/* line 295, ../../sass/style.scss */
.landing-text p {
  font-weight: 700;
  text-shadow: 1px 1px 10px #333;
  -webkit-text-shadow: 1px 1px 10px #333;
  -moz-text-shadow: 1px 1px 10px #333;
  -o-text-shadow: 1px 1px 10px #333;
}

/* line 300, ../../sass/style.scss */
.section-about {
  color: #eee;
  padding-bottom: 1.52em;
}
/* line 303, ../../sass/style.scss */
.section-about p {
  font-size: 1.2em;
}

/* line 311, ../../sass/style.scss */
.event-wrapper {
  background: #f0f0ea;
}

/* line 314, ../../sass/style.scss */
.event-box {
  display: block;
  text-align: center;
  padding: 1em;
  line-height: 1em;
  cursor: pointer;
  transition: all 0.2s linear;
}
/* line 322, ../../sass/style.scss */
.event-box h1 {
  vertical-align: middle;
  font-size: 10em;
  font-weight: 200;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 330, ../../sass/style.scss */
.event-box h3 {
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 337, ../../sass/style.scss */
.event-box p {
  color: #f2f2f2;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 344, ../../sass/style.scss */
.event-box:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.3);
}

/* line 348, ../../sass/style.scss */
.event-register {
  padding: 1.52em;
}

/* line 351, ../../sass/style.scss */
.event-desc-wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  display: block;
  padding: 1.52em;
  text-align: center;
}
/* line 359, ../../sass/style.scss */
.event-desc-wrapper h2 {
  margin: 0;
  margin-left: 3px;
  display: inline-block;
  text-transform: uppercase;
}
/* line 365, ../../sass/style.scss */
.event-desc-wrapper i {
  font-size: 1.52em;
}

/* line 370, ../../sass/style.scss */
.senior-event-desc a {
  display: block;
  text-decoration: none;
  transition: color .2s linear;
  color: #333;
  position: relative;
}
/* line 377, ../../sass/style.scss */
.senior-event-desc a:hover {
  color: #4CAF50;
}
/* line 380, ../../sass/style.scss */
.senior-event-desc a:hover:after {
  width: 50%;
}
/* line 383, ../../sass/style.scss */
.senior-event-desc a:active {
  top: 3px;
}
/* line 387, ../../sass/style.scss */
.senior-event-desc a:after {
  content: '';
  display: block;
  margin: 2% auto;
  width: 0%;
  height: 3px;
  background: #4CAF50;
  transition: width 0.4s ease-in-out;
}

/* line 399, ../../sass/style.scss */
.junior-event-desc a {
  display: block;
  text-decoration: none;
  transition: color .2s linear;
  color: #333;
  position: relative;
}
/* line 406, ../../sass/style.scss */
.junior-event-desc a:hover {
  color: #1ccacd;
}
/* line 409, ../../sass/style.scss */
.junior-event-desc a:hover:after {
  width: 50%;
}
/* line 412, ../../sass/style.scss */
.junior-event-desc a:active {
  top: 3px;
}
/* line 416, ../../sass/style.scss */
.junior-event-desc a:after {
  content: '';
  display: block;
  margin: 2% auto;
  width: 0%;
  height: 3px;
  background: #1ccacd;
  transition: width 0.4s ease-in-out;
}

/*
.event-desc-inner {
	transform : translateY(-8em);
	opacity: 0;
	transition: all 0.2s linear;
	display: none;
}
#eventDesc:hover .event-desc-inner{
	opacity: 1;
	transform: none;
	transition: all 0.2s linear;
	display: block;
*/
/* line 440, ../../sass/style.scss */
.social-card {
  padding: 4.52em;
  line-height: 1.52em;
  text-align: center;
}

/* line 446, ../../sass/style.scss */
.site-footer {
  padding: 1.52em;
}

/* line 449, ../../sass/style.scss */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
/* line 455, ../../sass/style.scss */
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
